<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anada - Data Science & Analytics Template">

    <!-- ========== Page Title ========== -->
    <title>飲食小助手-小孩大聯盟</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="/static/assets/img/favicon.ico" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/assets/css/themify-icons.css" rel="stylesheet" />
    <link href="/static/assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="/static/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="/static/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static/assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/static/assets/css/animate.css" rel="stylesheet" />
    <link href="/static/assets/css/bootsnav.css" rel="stylesheet" />
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <link href="/static/assets/css/responsive.css" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">

</head>

<body>
    <div id="app">

        <!-- Preloader Start -->
        <!-- <div class="se-pre-con"></div> -->
        <!-- Preloader Ends -->

        <!-- Header ============================================= -->
        <header id="home">

            <!-- Start Navigation -->
            <nav class="navbar navbar-default navbar-fixed-light attr-border navbar-fixed dark no-background bootsnav">

                <!-- Start Top Search -->
                <div class="container">
                    <div class="row">
                        <div class="top-search">
                            <div class="input-group">
                                <form action="#">
                                    <input type="text" name="text" class="form-control" placeholder="Search">
                                    <button type="submit">
                                        <i class="ti-search"></i>
                                    </button>  
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Top Search -->

                <div class="container">

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span v-if="isLoggedIn">
                                Hi  {{ userInfo && userInfo.displayName }}
                            </span>
                            <span v-else>Team B</span>
                        </button>
                        <a class="navbar-brand" href="#home">
                            <img src="/static/assets/img/logo-light2.png" class="logo default" alt="Logo">
                            <img src="/static/assets/img/logo2.png" class="logo logo-responsive" alt="Logo">
                        </a>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li>
                                <a><span v-if="isLoggedIn">
                                    Hi  {{ userInfo && userInfo.displayName }}
                                </span>
                                <span v-else>您尚未登入</span></a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>


            </nav>
            <!-- End Navigation -->

        </header>
        <!-- End Header -->

        <!-- Start Banner 
        ============================================= -->
        <div class="banner-area text-combo top-pad-90 rectangular-shape bg-light-gradient">
            <div class="item">
                <div class="box-table">
                    <div class="box-cell">
                        <div class="container">
                            <div class="row">
                                <div class="double-items">
                                    <div class="col-lg-6 info">
                                        <h2 class="wow fadeInDown" data-wow-duration="1s"><span>雲世代計畫</span>我的飲食小助手</h2>
                                        <p class="wow fadeInLeft" data-wow-duration="1.5s">
                                            一起檢視過去的飲食記錄，看看你的健康狀況吧！
                                        </p>
                                        <a v-if="isLoggedIn" class="btn circle btn-md btn-gradient-logout wow fadeInUp" data-wow-duration="1.8s" href="#" @click="logout">登出換個帳號</a>
                                        <a v-else class="btn circle btn-md btn-gradient wow fadeInUp" data-wow-duration="1.8s" href="#" @click="login">登入</a>
                                    </div>
                                    <div class="col-lg-6 thumb wow fadeInRight" data-wow-duration="1s">
                                        <img src="/static/assets/img/illustration/1_2.png" alt="Thumb">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->

        <div v-if="isLoggedIn">
            <div class="fun-factor-area bg-white default-padding">
                <!-- Fixed BG -->
                <div class="fixed-bg" style="background-image: url(/static/assets/img/map.svg);"></div>
                <!-- Fixed BG -->
                <div class="container">
                    <div class="client-items text-center">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 item">
                                <div class="fun-fact">
                                    <div class="timer total-records" data-speed="2000">{{ totalRecords }}</div>
                                    <span class="medium">上傳次數</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 item">
                                <div class="fun-fact">
                                    <div class="timer total-heat-sum" data-speed="2000">{{ formatNumber(totalHeatSum) }}</div>
                                    <span class="medium">累積熱量</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 item">
                                <div class="fun-fact">
                                    <div class="timer average-heat" data-speed="2000">{{ formatNumber(averageHeat) }}</div>
                                    <span class="medium">平均每餐熱量</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Start Blog Area
            ============================================= -->
            <div class="blog-area bg-gray left-border default-padding bottom-less">
                <div class="container">
                    <div class="blog-items content-less">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <div class="site-heading text-center">
                                    <h4>我的上傳記錄</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div v-for="(info, index) in limitedCustomerInfo" :key="index" class="col-lg-4 col-md-6 ">
                                <!-- Single Item -->
                                    <div class="single-item">
                                        <div class="item">
                                            <div class="thumb">
                                                <a href="#" @click.prevent="showImage(info.pic_name)">
                                                    <img :src="`https://teamb-image.s3.ap-southeast-1.amazonaws.com/${info.pic_name}`" alt="Thumb">
                                                    <div class="date">
                                                        <strong>{{ formatNumber(info.heat_sum) }}大卡</strong> 
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="info">
                                                <div class="meta">
                                                    <ul>
                                                        <li>
                                                            <i class="fas fa-calendar"></i>
                                                        </li>
                                                        <li>
                                                            <a>{{ formatDate(info.update_date) }}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <p>{{ info.active }}</p>
                                            </div>
                                        </div>
                                    </div>
                                <!-- End Single Item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Blog Area -->
            
        </div>

        <!-- Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imageModalLabel">放大圖片</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <img :src="`https://teamb-image.s3.ap-southeast-1.amazonaws.com/${modalImage}`" alt="Thumb" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <!-- Star Footer
        ============================================= -->
        <footer>
            <div class="container">

                <div class="footer-bottom">
                    <p>&copy; Copyright 2024. All Rights Reserved by <a href="#">TeamB 小孩大聯盟</a></p>
                </div>
            </div>
            <!-- Shape -->
            <!-- <div class="footer-shape" style="background-ima÷ge: url(/static/assets/img/shape/1.svg);"></div> -->
            <!-- End Shape -->
        </footer>
        <!-- End Footer-->
    </div>
    

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="/static/assets/js/jquery-1.12.4.min.js"></script>
    <script src="/static/assets/js/popper.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/equal-height.min.js"></script>
    <script src="/static/assets/js/jquery.appear.js"></script>
    <script src="/static/assets/js/jquery.easing.min.js"></script>
    <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/assets/js/modernizr.custom.13711.js"></script>
    <script src="/static/assets/js/owl.carousel.min.js"></script>
    <script src="/static/assets/js/wow.min.js"></script>
    <script src="/static/assets/js/progress-bar.min.js"></script>
    <script src="/static/assets/js/isotope.pkgd.min.js"></script>
    <script src="/static/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/assets/js/count-to.js"></script>
    <script src="/static/assets/js/YTPlayer.min.js"></script>
    <script src="/static/assets/js/circle-progress.js"></script>
    <script src="/static/assets/js/bootsnav.js"></script>
    <script src="/static/assets/js/main.js"></script>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.22.3/sdk.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/static/assets/js/app.js"></script>

</body>
</html>
